@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Silkscreen:wght@400;700&family=Sixtyfour+Convergence&display=swap');

.addMusic {
    background-color: #393E46;
    width: 70%;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #00ADB5;
    position: relative;
    
    h2 {
        color: #EEEEEE;
        margin-bottom: 20px;
        font-family: "Silkscreen", sans-serif;
    }

    input, select, textarea {
        display: block;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #EEEEEE;
        font-family: "Silkscreen", sans-serif;
        &:focus {
            outline: 2px solid #D2FF72;
        }
    }

    textarea {
        height: 150px; 
        resize: vertical;
    }


    input[type="submit"] {
        width: 120px;
        padding: 10px;
        background-color: #00ADB5;
        border: none;
        color: #FFFFFF;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
            background-color: #D2FF72;
            color: #393E46;
        }
    }
  
    
}
