@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Silkscreen:wght@400;700&family=Sixtyfour+Convergence&display=swap');

.page-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: #F5F5F5;
  font-family: "Silkscreen", sans-serif;
}

.page-intro h2 {
  font-size: 2.5rem;
  color: #424242;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 5s forwards;
}

.page-intro .highlight {
  color: #1abc9c;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
